---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Tjanster from "../components/Tjanster.astro";
import OmOss from "../components/OmOss.astro";
import Kontakt from "../components/Kontakt.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Tjanster />
    <OmOss />
    <Kontakt />
  </main>
  <Footer />
</Layout>
